body {
    background-color: #e8d3c4;
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    color: #a25623;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    color: #180f09;
    font-weight: 600;
}

.container {
    padding: 3% 15%;
}

.feelsLike {
    color: #b86025;
    font-size: 3rem;
    font-weight: 600;
}

@media (max-width: 993px) {

    h1 {
        font-size: 2.6rem;
        font-weight: 550;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .card-text{
        font-size: 0.8rem;
    }

    .feelsLike {
        font-size: 2.4rem;
        font-weight: 500;
    }

    .list-group-item {
        font-size: 0.8rem;
    }
}


.nav-link {
    color: #180f09;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

.nav-pills .nav-link.active {
    background-color: #b86025;
}
