body {
    background-color: #e8d3c4;
    text-align: center;
  }

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    color: #a25623;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    color: #180f09;
    font-weight: 600;
}

.container {
    padding: 5% 15%;
}

.feelsLike {
    color: #b86025;
    font-size: 3rem;
    font-weight: 600;
}